// Các mixin hỗ trợ hiển thị flex theo chiều dọc (column) với nhiều kiểu căn chỉnh

@mixin display-flex-column {
          display: flex;
          flex-direction: column;
}

@mixin display-flex-column-around {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
}

@mixin display-flex-column-around-center {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
}

@mixin display-flex-column-between {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
}

@mixin display-flex-column-between-center {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
}

@mixin display-flex-column-evenly {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
}

@mixin display-flex-column-evenly-center {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
}

@mixin display-flex-column-center {
          display: flex;
          flex-direction: column;
          justify-content: center;
}

@mixin display-flex-column-center-center {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
}
